@charset "UTF-8";

/* Global values */
:root{
  --bg: #ffffff;			/* white */
  --accent: #FFCCE8;        /* pink */
  --accent2: #6ee7ff;       /* icy blue */
}

/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* Navigation */
.custom-nav{
	width: 100%;
	background-color:#FFCCE8;
	border-bottom: 1px solid #000000;
}
/*
header {
	width: 100%;
	height: 50px;
	background-color: #FFCCE8;
	border-bottom: 1px solid #000000;
}
*/
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
/* Page Content */
.pageContent{
	background-color: #6ee7ff;
	width: 100%;
	overflow: auto;
/*	TODO: Debating whether or not to add line below */
/*	current problem is a page without enough content will have white space at the bottom */
/*	adding this line makes the blue extend all the way no matter what, but theres still a lot of empty space in the blue */
/*	min-height: 100vh;*/
}

/* Footer */
footer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
	background-color: #DCC89D;
	height: 300px;
}
.footer {
	display: flex;
	justify-content: space-around;
	bottom: 0;
}